<!-- index.html -->

{% extends "base.html" %}

{% block title %}Kalendarz{% endblock %}

{% block content %}
    <div id="calendar-contener">
       <div id="calendar"></div>
    </div>
    <!-- Dołącz bibliotekę jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Dołącz bibliotekę FullCalendar -->
    <script src=" https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js "></script>
    <script src=" https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.9/index.global.min.js "></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Inicjalizacja kalendarza
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                 plugins:['multiMonthPlugin'],
                 defaultView: 'dayGridMonth', // Ustaw widok na standardowy widok miesiąca
                 headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,3 miesiące' // Dodaj przycisk do przełączania na widok 3 miesięcy
                },
                 views: {
                     dayGridMonth: {
                         type: 'list',
                         duration: { months: 2 }, // Wyświetl 3 miesiące naraz
                        buttonText: '3 miesiące', // Tekst przycisku do przełączania widoku
                      },
                     day:{
                         type:'list',

                         buttonText: "Dzień"
                     }
                    },
                locale: 'pl',
                events: [
                    // Tutaj możesz dodać wydarzenia do kalendarza
                    {
                        title: 'Spotkanie',
                        start: '2023-10-10T10:00:00',
                        end: '2023-10-10T12:00:00'
                    },
                    {
                        title: 'Inne wydarzenie',
                        start: '2023-10-15T14:00:00',
                        end: '2023-10-15T16:00:00'
                    }
                    // Dodaj więcej wydarzeń w podobny sposób
                ]
            });

            // Wyrenderuj kalendarz
            calendar.render();
        });
    </script>
{% endblock %}