<!-- zamowienia.html -->

{% extends "base.html" %}

{% block title %}Zamowienia{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-success">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnC3AV+1fYWNpG9LdTBv2nM2PbDPkpX" crossorigin="anonymous"></script>
<body>
<br>
<h3>Zamówienia:</h3>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Dodaj nowe zamównienie
</button>
<table class="table table-hover">
  <thead>
        {% for x in kolumny %}
            <th>{{ x }}</th>
        {% endfor %}
  </thead>
  <tbody>
        {% for x in zamowienia %}
            <tr>
               <td>{{x[0]}}</td>
               <td>{{x[1]}}</td>
               <td>{{x[2]}}</td>
               <td>{{x[3]}}</td>
               <td>{{x[4]}}</td>
               <td>{{x[5]}}</td>
               <td>{{x[6]}}</td>
               <td>
<!--                   <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#edit">Edytuj</button>-->
                   <a href="{{url_for('zamowienia_route.usun_zamowienie', id=x[0])}}" style="text-decoration:None;">
                       <button type="button" class="btn btn-danger">Usuń</button>
                   </a>
                   <a href="{{url_for('zamowienia_route.wygeneruj_umowe', id=x[0])}}" style="text-decoration: None;">
                       <button type="button" class="btn btn-warning">Wygeneruj umowę</button>
                   </a>
                   <a href="{{url_for('zamowienia_route.wygeneruj_umowe', id=x[0])}}" style="text-decoration: None;">
                       <button type="button" class="btn btn-success">Wygeneruj fakturę</button>
                   </a>

               </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Nowe Zamówienie</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Include the form -->
                    <form method="POST" action="{{url_for('zamowienia_route.lista_zamowien', edit=False)}}">
                        {{ form.hidden_tag() }}
                        {{ form.klient.label }}
                        {{ form.klient(class="form-control") }}
                        {{ form.urzadzenie.label }}
                        {{ form.urzadzenie(class="form-control") }}
                        {{ form.dostawa.label }}
                        {{ form.dostawa(class="form-control") }}
                        {{ form.data_rozpoczenia_wypozyczenia.label }}
                        {{ form.data_rozpoczenia_wypozyczenia(class="form-control") }}
                        {{ form.data_zakonczenia_wypozyczenia.label }}
                        {{ form.data_zakonczenia_wypozyczenia(class="form-control") }}
                        {{ form.rodzaj_platnosci.label }}
                        {{ form.rodzaj_platnosci(class="form-control") }}

                        <br>
                        {{ form.submit(class="btn btn-success") }}
                    </form>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}